doctype html

block locals
	- var title = 'Default title';

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title #{title}

	body
		div.container
			include _menu.pug
			block content

